@font-face {
  font-family: Espuma;
  src: url("/src/assets/fonts/EspumaPro-Regular.otf");
}

@import "tailwindcss";

@theme {
  --font-espuma: Espuma, "sans-serif";
  --font-inter: Inter, sans-serif;
  --color-accent: oklch(0.5873 0.191688 254.743);
  --color-primary: oklch(37.3% 0.034 259.733);
  --color-secondary: oklch(55.1% 0.027 264.364);
}

.debug {
  @apply outline-2 outline-red-900;
}

body {
  font-family: var(--font-inter);
}
